.back {
    display: inline-block; 
    bottom: 500px;
    left: 1000px;
}

.forward {
    display: inline-block;
  
    bottom: 500px;
    right: 1000px;
}
.foot{
    text-align: center  ;
}

table.table.is-bordered, table.table.is-bordered tr, table.table.is-bordered th, table.table.is-bordered td {
    border: none;
  }
