*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aaa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    position: relative;
    height: 300px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    background: #e9f3e3;
    color: #000000;
}
.out{
    text-align: center;
    padding:30px 30px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #175222;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 150px;
}