*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    height: 67% !important; 
}
h2{
    font-weight: bold !important;
   
}

.wrapper{
    position: fixed;
    bottom: 7%;
    width: 60vw;
    height: 70vh;
    background-color: #e3e6f3;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin-left: 20%;
    font-weight: bold;
    font-size: 25px;
}
.num{
    position: fixed;
    top:350px;
}
.expiry{
    position: fixed;
    top:550px;
}
.code{
    position: fixed;
    top:750px;
}

.body div{
    padding-bottom:20px;
}
.head{
    position: fixed;
    left: 830px;
}

.register{
    position: fixed;
    font-size: 1.1em;
    color: #fff;
    border: 2px solid rgb(16, 16, 16);
    background-color: #50b57a;
    width: 6em;
    height:2em;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    bottom: 130px;
    left:900px;
    
}
